
:root
{
/* Color Pallete*/
    --old-lavender: rgba(122, 97, 116, 1);
    --honey-yellow: rgba(251, 175, 0, 1);
    --cyber-yellow: rgba(255, 214, 57, 1);
    --maximum-blue-purple: rgba(187, 173, 255, 1);
    --green-pantone: rgba(0, 175, 84, 1);
/*Fonts */
    font-family: 'Montserrat', sans-serif;
    
}

html
{
    background-color: var(--maximum-blue-purple);
}

.title
{
    text-align: center;
    margin: auto;
    font-size: 50px;
}
