nav {
    background-color: rgba(0, 0, 0, 0.1);
    width: max-content;
    display: block;
    padding: 0.7rem, 1.5rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    border-radius: 3rem;
    display: flex;
    gap: 0.8rem;
    backdrop-filter: blur(15px);
}

nav a {
    background: transparent;
    padding: 0.56rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-dark);
    font-size: 2rem;
}
nav a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: var(--color-bg);
}

nav a.active {
    background-color: var(--color-primary);
    color: var(--color-bg);
}
